
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-grey{
    color: #424242;
}
.text-light-grey{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* header styles */

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-weight: 700;
    font-size: 3rem;
}

.navbar .menu .nav-item{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 18px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.banner img{
    width: 100%;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .menu {
        flex-direction: column;
    }
}