
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-grey{
    color: #424242;
}
.text-light-grey{
    color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
main>section{
    margin-top: 130px;
}
.text-primary{
    color: #FF900E;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
/* header styles */

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar h3{
    font-weight: 700;
    font-size: 3rem;
}

.navbar .menu .nav-item{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
    color: black;
    font-size: 18px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: 700;
}
.btn{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}
.banner img{
    width: 100%;
    margin-bottom: 40px;
}
.teams{
    justify-content: center;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.team-content{
    margin-left: 70px;
    max-width: 530px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.team-content p{
    color: #727272;
    margin-bottom: 34px;
}
#quicklist{
    font-weight: 500;
}
.features{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E ;
    padding-left: 20px;
}
.feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 20px;
}
.feature-architect img{
    width: 100%;
}
#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 700;
}
.feature-card{
    padding: 30px;
    box-shadow: 0px 10px 30px rgb(222, 221, 221);
    margin-bottom: 20px;
    border-radius: 8px;
}
/* facts related */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 124px;
    justify-items: center;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
   align-items: center;
   justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    margin-top: 10px;
}
.facts-description{
    max-width: 540px;
    margin-bottom: 80px;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

}
.sponsor-company img{
   filter: grayscale(100%);
}

footer{
    max-width: 1440px;
    background-color: #FFF4E7;
    padding: 38px 410px;
    text-align: center;
    margin: 130px auto;
}
/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, 
    .menu,
    .teams,
    .features {
        flex-direction: column;
    }
    .team-img , .facts-container, .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
    }
    .team-content{
        margin-left: 20px;
    }
    .facts-container{
        justify-items: center;
        gap: 24px;
    }
     .sponsor-company{
        gap: 50px;
    }
    #experience-badge{
       margin-top: 20px;
       margin-left: 10px;
    }
    footer{
        width: 100%;
      padding: 10px;
      font-size: 14px;
    }
}
/* medium sized phone */
@media screen and (min-width: 576px) and (max-width:992px) {
    .teams, .features{
        flex-direction: column;
    }
    .team-content{
        margin: 50px auto;
    }
   .sponsor-company, .facts-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
   }
     #experience-badge{
      margin-top: 20px;
      margin-left: 200px;
    }
}